@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

body,
html {
  background-color: #18181b;
  color: white;
  font-family: "Roboto", sans-serif;
}

.content {
  display: flex;
}

.data {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.fixed {
  position: fixed;
}

.map-selection {
  text-align: center;
}